<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <!--LIST OF CONSTANTS-->
  <appSettings>
    <!--Customized header note-->
    <add key="Note header" value="BOT update."/>
    <add key="Update header" value="BOT - ETA update."/>
    <!--Tracking links-->
    <!--INSTRUCTIONS WHEN ADDING LINKS:
    Use "[a]" instead of "&"
    Use "[e]" instead of "="
    Use "[xAWBx]" where the Awb code goes in
    -->
    <add key="DHL01" value="www.dhl.com/en/express/tracking.html?AWB[e][xAWBx][a]brand[e]DHL"/><!--DHL standard tracking-->
    <add key="DHL02" value="dhli.dhl.com/dhli-client/publicTracking?searchType[e]HBN[a]searchValue[e][xAWBx][a]commit[e]Track!"/><!--DHL dhli track-->
    <add key="DHL03" value="www.dhl.com/us-en/home/tracking/tracking-global-forwarding.html?tracking-id[e][xAWBx]"/><!--DHL short format-->
    <add key="DHL06" value="www.dhlsameday.com/SkyTracking/"/><!--DHL Same Day-->
    <add key="DHL09" value="mysupplychain.dhl.com/"/><!--DHL My Portal-->
    <add key="OTH01" value="wwwapps.ups.com/WebTracking/track?track[e]yes[a]trackNums[e][xAWBx][a]loc[e]en_us"/><!--UPS tracking-->
    <add key="OTH02" value="www.fedex.com/apps/fedextrack/?action[e]track[a]trackingnumber[e][xAWBx][a]cntry_code[e]us"/><!--FedEx tracking-->
    <add key="OTH03" value="www.nnrpowernet.com/"/><!--Powernet tracking-->
    <add key="OTH04" value="www.appleexpress.com/"/><!--Apple Express tracking-->
    <add key="OTH05" value="www.loomisexpress.com/ca/wfTrackingStatus.aspx?PieceNumber[e][xAWBx]"/><!--Loomis tracking-->
    <add key="OTH06" value="expo.expeditors.com/expo/SQGuest?tcode[e]E11855354[a]ucode[e]ORACLE[a]SearchType[e]consignmentSearch[a]reference[e][xAWBx]"/><!--Expeditors tracking-->
    <add key="OTH07" value="tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1[e][xAWBx]"/><!--USPS tracking-->
    <add key="OTH09" value="mystore.oraclecorp.com/app/udb/?appId[e]12#/ordertracker"/><!--Oracle Dashboard ISO internal tracking-->
    <!--Oracle links-->
    <add key="ORA01" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]1025708[a]resp_id"/><!--Dispatch Center-->
    <add key="ORA02" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]5564[a]resp_id"/><!--Order Managment-->
    <add key="ORA03" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]5557[a]resp_id"/><!--GSI Reservations-->
    <add key="ORA04" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]1293[a]resp_id"/><!--Material Transactions-->
    <add key="ORA05" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]1021126[a]resp_id"/><!--Planner´s Desktop-->
    <add key="ORA06" value="global-ebusiness.oraclecorp.com:443/OA_HTML/RF.jsp?function_id[e]1021125[a]resp_id"/><!--Part search hierarchy-->
    <add key="ORA07" value="global-ebusiness.oraclecorp.com/OA_HTML/RF.jsp?function_id[e]1705633[a]resp_id"/><!--WebADI for movements-->
    <add key="ORA08" value="global-ebusiness.oraclecorp.com/OA_HTML/RF.jsp?function_id[e]1703634[a]resp_id"/><!--WebADI for reservations-->
    <add key="ORA09" value="gcwap-ods.oraclecorp.com/analytics/saw.dll?Dashboard[a]PortalPath[e]%2Fshared%2FField%20Services%20Spares%2F_portal%2FGSL%20Supply%20Planning%20Dashboard[a]page[e]Open%20Back%20Order%20v2"/><!--Open Backorders Report v2-->
    <add key="ORA10" value="gcwap-ods.oraclecorp.com/analytics/saw.dll?Dashboard[a]PortalPath[e]%2Fshared%2FField%20Services%20Spares%2F_portal%2FGSL%20Supply%20Planning%20Dashboard[a]page[e]Spares%20Internal%20Orders"/><!--Spares ISO Report-->
    <add key="ORA11" value="gcwap.oraclecorp.com/apex/f?p[e]2555:131:14400775673438:::::"/><!--DVS-->
    <add key="ORA12" value="gcwap-ods.oraclecorp.com/analytics/saw.dll?bieehome"/><!--ODS Home-->
    <add key="ORA13" value=""/><!--note-->
    <add key="ORA14" value=""/><!--note-->
    <add key="ORA15" value="eidap.oraclecorp.com/endeca/web/home/index"/><!--Endeca-->
    <add key="ORA16" value="eidap.oraclecorp.com/endeca/web/spares-planning-dashboard/single-part-view"/><!--Endeca Single Parts View-->

    <!--GP Links-->
    <add key="ORA20" value="apex.oraclecorp.com/pls/apex/bo_database/r/backorder-application/home?"/><!--Apex BO Tool-->
    <add key="ORA21" value="ptp.oraclecorp.com/pls/apex/f?p[e]151:106:19190349538288:::::"/><!--GDMR-->
    <add key="ORA22" value="oradocs-corp.documents.us2.oraclecloud.com/documents/folder/F12F827C45FFC78AAED2BDE3F6C3FF17C1177A968060/_Open_Backorders"/><!--Open BO Report-->
    <add key="ORA23" value=""/><!--note-->
    <add key="ORA24" value="mosemp.us.oracle.com/handbook_internal/General/search.html"/><!--Handbook-->
    <add key="ORA25" value="oradocs-corp.documents.us2.oraclecloud.com/documents/link/LF9CC1ACCB4764025BCBA62EF6C3FF17C1177A968060/folder/F09E49E2D5B79476AFA94FB3F6C3FF17C1177A968060/_Part_Planner_Search_Engine_(PPSE)"/><!--PPSE-->
    <add key="ORA26" value=""/><!--note-->
    <add key="ORA27" value="apex.oraclecorp.com/pls/apex/backorders/r/alternative-parts-for-backorders/home?"/><!--Alt PNs for Backorders-->
    <add key="ORA28" value="myoracle-prodapp.ocecdn.oraclecloud.com/site/authsite/home/"/><!--My Oracle-->
    <add key="ORA29" value="mydesktop.oraclecorp.com/"/><!--My Desktop-->
    <add key="ORA30" value="//oim.oraclecorp.com/identity/faces/home?"/><!--Identity Self Service-->
    <add key="ORA31" value="eeho.fa.us2.oraclecloud.com/fscmUI/faces/FuseWelcome?"/><!--Oracle Cloud-->
    <!--Excel control file-->
    <add key="Excel_Path" value="G:\OneDrive\Docs de Juan K\Escritorio\Test1.xlsx"/><!--Excel personal tracker file path-->
    <add key="Excel_Sheet" value="1"/><!--Excel personal tracker file sheet-->
    
  </appSettings>
  
</configuration>
